{{!-- * Setup the `main.handlebars` file so it's able to be used by Handlebars. --}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins" rel="stylesheet">
		<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/assets/js/burgers.js"></script>
		<script src="../../models/burger.js" type= "application/json"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>